body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.page-content {
    height: 200vh; /* Para forzar el scroll y ver que el botÃ³n se mantiene fijo */
}

/* --- Estilos del Boton flotante --- */
.chat-toggler {
    position: fixed;
    top: 20px;       /* separación desde arriba */
    right: 20px;     /* separación desde la derecha */
    background-color: #007bff; /* color de fondo (podés cambiarlo) */
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    z-index: 1000;
}

.chat-toggler .close-icon {
    display: none; /* Oculto por defecto */
}

/* --- Estilos de la Ventana del Chat Telephony--- */

.chat-widget {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 350px;
    height: 80%;
    background-color: withe;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 999;
    
    /* Efecto de transicion */
    transform: scale(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

/* Clase para mostrar/ocultar */
.chat-widget.open {
    transform: scale(1);
}

.chat-toggler.open .material-icons {
    display: none; /* Oculta el Ã­cono de chat */
}
.chat-toggler.open .close-icon {
    display: block; /* Muestra el Ã­cono de cerrar */
}

/* --- Estilos internos del Chat --- */
.chat-body {
   padding-left: 0px;
   padding-right: 0px;
   width: 100#;
   height: 100%;
}
/* --- Estilos DASHBOARD --- */

agentes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s ease-in-out, background-color 0.3s ease;
  color: #fff;
}

.card:hover {
  transform: scale(1.03);
}

.agent-name {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 8px;
}

.agent-number {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.agent-state {
  font-weight: bold;
  margin-bottom: 10px;
}

.talking-with {
  font-size: 0.85em;
}

/* Colores de fondo por estado */
.card-online {
  background-color: #2ecc71;
}

.card-busy {
  background-color: #e74c3c;
}

.card-ringing {
  background-color: #f39c12;
}

.card-offline {
  background-color: #7f8c8d;
}


